{% load static humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>{% block page_title %}{% endblock page_title %} ZRP Reports </title>

  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="{% static 'lte/plugins/fontawesome-free/css/all.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'lte/dist/css/adminlte.min.css' %}">
  <!-- Google Font: Source Sans Pro -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <!--suppress CssNoGenericFontName -->
  <style>

    .text-ahmai-green {
      color: #142747 !important;
    }

    .text-ahmai-blue {
      color: #2b99ca !important;
    }

    .btn-ahmai-blue {
      background-color: #2b99ca;
      color: #fff;
    }

    .bg-ahmai-blue {
      background-color: #0975ab;
      color: #fff;
    }

    .bg-ahmai-blue:hover {
      color: #fff;
    }

    .border.border-ahmai-green {
      border: 1px solid #142747 !important;
    }

    .border.border-ahmai-blue {
      border: 1px solid #2b99ca !important;
    }

    .btn-ahmai-blue:hover {
      background-color: #2b85ca;
      color: #fff !important;
    }

    .btn-ahmai-green {
      background-color: #142747;
      color: #fff !important;
    }

    .card.card-outline.card-ahmai-green, .card-footer.card-outline.card-ahmai-green {
      border-top: 2px solid;
      border-color: #142747 !important;
    }

    .bg-ahmai-green {
      background-color: #142747 !important;
      color: #fff !important;
    }

    .table .circular-thead th {
      color: #fff;
      background-color: #142747 !important;
      border-color: unset;
      border-top: none;
      border-bottom: none;
    }

    .table .thead-ahmai th {
      padding-top: 4px;
      padding-bottom: 4px;
    }

    .table .thead-dark tr th {
    {#border-right: 1px solid #ebecee;#} font-weight: 900;
      font-variant: small-caps;
    }

    td.fit-width, th.fit-width {
      width: 1px;
      white-space: nowrap;
    }

    .table .thead-dark tr th:last-of-type {
      border-right: none;
    }

    .table .thead-ahmai th:first-of-type {
      border-top-left-radius: 3px;
    }

    .table .thead-ahmai th:last-of-type {
      border-top-right-radius: 3px;
    }

    .breadcrumb-item + .breadcrumb-item::before {
      display: inline-block;
      padding-right: .5rem;
      color: #6c757d;
      content: "\00BB";
    }

    

    a {
      color: #0975ab;
      text-decoration: none;
      background-color: transparent;
    }

    a.text-muted:hover {
      color: #0975ab !important;
    }

    .dropdown-item.active, .dropdown-item:active {
      background-color: #0975ab;
    }

    .btn {
      border-radius: 3px !important;
    }

    .btn-outline-primary {
      color: #0975ab;
      border-color: #0975ab;
    }

    .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle {
      color: #fff;
      background-color: #0975ab;
      border-color: #0975ab;
    }

    .btn-outline-primary:hover {
      color: #fff;
      background-color: #0975ab;
      border-color: #0975ab;
    }

    .form-control {
      border: 2px solid #ced4da;
      border-radius: 3px;
    }

    .form-control:focus {
      border-color: #0975ab;
    }

    label {
      color: #0975ab;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: normal;
    }

    .bg-primary {
      background-color: #0975ab !important;
    }

    a.alert-primary:focus, a.alert-primary:hover, a.bg-primary:focus, a.bg-primary:hover, button.alert-primary:focus, button.alert-primary:hover, button.bg-primary:focus, button.bg-primary:hover {
      background-color: #0975ab !important;
    }

    a:hover {
      color: #0975ab;
      text-decoration: none;
    }


    .table td, .table th {
      padding: 0.5rem;
    }

    .table .thead-dark th {
      color: #fff;
      background-color: #142747;
      border-color: unset;
    }

    .text-ahmai-green {
      color: #142747 !important;
    }

    .table thead th {
      text-transform: uppercase;
    }

    .table thead {
      box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.16), 3px 3px 4px rgba(0, 0, 0, 0.16) !important;
    }

    .card-primary.card-outline {
      border-top: 3px solid #0975ab;
    }

    .btn-primary {
      background-color: #0975ab;
      border-color: #0975ab;
    }

    .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
      color: #fff;
      background-color: #0975ab;
      border-color: #0975ab;
    }

    .btn-primary:hover {
      color: #fff;
      background-color: #2c73ca;
      border-color: #2c73ca;
    }

    .text-primary {
      color: #0975ab !important;
    }

    a {
      font-size: 16px;
      font-family: 'Lato', sans-serif;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: -0.05px
    }


    .content-wrapper {
      background: #0975ab24;
    }



    .sw-theme-arrows > .nav .nav-link.active {
      border-color: #0975ab !important;
      background: #0975ab !important;
    }

    .sw-theme-arrows > .nav .nav-link.active::after {
      border-left-color: #0975ab !important;
      border-right-color: #0975ab !important;
    }

    .sw-theme-arrows > .nav .nav-link::before {
      margin-left: 4px !important
    }

    .sw-theme-arrows > .nav .nav-link.done {
      border-color: #142747;
      background: #142747;
    }

    .sw-theme-arrows .toolbar > .btn {
      color: #fff;
      background-color: #0975ab !important;
      border: 1px solid #0975ab !important;
      padding: .2rem .75rem !important;
      border-radius: 3px !important;
      font-weight: 600 !important;
    }

    div.toolbar.toolbar-bottom > button.btn.sw-btn-next {
      background-color: #142747 !important;
      border: 1px solid #142747 !important;
    }

    div.toolbar.toolbar-bottom {
      text-align: center !important;
    }

    div.toolbar.toolbar-bottom > button.btn.sw-btn-prev::before {
      content: "\2190";
      margin-right: 3px;
      font-size: 20px;
    }

    div.toolbar.toolbar-bottom > button.btn.sw-btn-next::after {
      content: "\2192";
      margin-left: 3px;
      font-size: 20px;
    }
  </style>
  <style>
    .text-isppme {
      color: #142747 !important;
    }

    .bg-isppme {
      background-color: #142747 !important;
      color: #fff !important
    }

    .text-isppme-accent {
      color: #0975ab !important;
      
    }

    .bg-isppme-accent {
      background-color: #0975ab !important;
       color: #fff !important
    }
     .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: #495057;
        background-color: #fff;
        border-color: #142747 #142747 #fff;
        border-width: 2px 2px 0;
    }
    .nav-tabs {
        border-bottom: 1px solid #142747;
    }
  </style>
  {% block css %}

  {% endblock %}
</head>
<body class="hold-transition sidebar-mini layout-navbar-fixed layout-fixed">
&cirE;
<div class="wrapper">
  

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-dark navbar-navy">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'com:index' %}" class="nav-link"> <i class="fas fa-chart-bar"></i> Reports Dashboard</a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Messages Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="fas fa-exclamation-triangle"></i>
          <span class="badge badge-warning navbar-badge">{{ issues|length }}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          
          {% for issue in issues %}
            <a href="{{ issue.url }}" class="dropdown-item">
              <div class="media">
                <div class="media-body">
                  <h3 class="dropdown-item-title">
                    <b>{{ issue.title }}</b>
                    <span class="float-right text-sm text-warning"><i class="fas fa-exclamation-triangle"></i></span>
                  </h3>
                  <p class="text-sm">{{ issue.desc }}</p>
                </div>
              </div>
            </a>
            {% if not forloop.last %}
              <div class="dropdown-divider"></div>
            {% endif %}
          {% empty %}
           <a href="javascript:void(0)" class="dropdown-item">
              <div class="media">
                <div class="media-body">
                  <h3 class="dropdown-item-title">
                    <b>All clear</b>
                    <span class="float-right text-sm text-warning"><i class="fas fa-exclamation-triangle"></i></span>
                  </h3>
                  <p class="text-sm">No issues at the moment</p>
                </div>
              </div>
            </a>
          {% endfor %}
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Issues</a>
        </div>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar elevation-1 sidebar-light-navy">
    <!-- Brand Logo -->
    <a href="{% url 'com:index' %}" class="brand-link">
         Reports Dashboard
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
          <a href="javascript:void(0)" class="d-block lead font-weight-light">{{ user }}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="{% url 'com:index' %}" class="nav-link {% block home_link_active %}{% endblock %}">
              <i class="nav-icon fas fa-chart-bar"></i>
              <p>
                Reports Home
              </p>
            </a>
          </li>
          
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper bg-white">
    <!-- Content Header (Page header) -->

    {% block content_header %}
    <!-- Content Header (Page header) -->
      <div class="content-header pt-1">
        <div class="container-fluid">
          <div class="row mb-0">
            <div class="col-sm-6">
              <h3 class="m-0 text-navy font-weight-500 lead pt-3 pb-3 pb-sm-4">
                {% block page_header_title %}{% endblock page_header_title %}</h3>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb bg-extrabet px-3 py-2 lesad font-weight-500 float-sm-right">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i> Home</a>
                </li>
                {% block breadcrumbs %}

                {% endblock breadcrumbs %}
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
    {% endblock content_header %}
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      {% if messages %}
        {% for message in messages %}
          <div class="{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            {% if message.level_tag == "error" %}
              <h5 class="font-weight-bold"><i class="fas fa-exclamation-circle"></i> Error!</h5>
            {% elif message.level_tag == "success" %}
              <h5 class="font-weight-bold"><i class="fas fa-check-circle"></i> Success!</h5>
            {% elif message.level_tag == "warning" %}
              <h5 class="font-weight-bold"><i class="fas fa-exclamation-triangle"></i> Warning!</h5>
            {% else %}
              <h5 class="font-weight-bold"><i class="fas fa-info-circle"></i> Alert!</h5>
            {% endif %}
            {{ message|safe }}
          </div>
        {% endfor %}
      {% endif %}
      {% block page_content %}
      {% endblock %}
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
      ZRP Diary App
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; {% now 'Y' %} <a href="#">ZRP</a>.</strong> All rights reserved.
  </footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<script src="{% static 'lte/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'lte/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'lte/dist/js/adminlte.min.js' %}"></script>

<script src="{% static 'lte/plugins/chart.js/Chart.min.js' %}"></script>
<!--suppress JSCheckFunctionSignatures -->
<script>
  setTimeout(function () {
    $('.alert-disappear').fadeOut("slow");
  }, 10000);
</script>
{% block js %}

{% endblock %}
</body>
</html>
