{% extends 'base.html' %}
{% load humanize %}
{% block assets_link_active %}active{% endblock %}
{% block page_header_title %}Computer Assets Listing{% endblock page_header_title %}
{% block page_content %}
    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-navy">
                <div class="card-header">
                    {{ comps.count }} Computer Asset{{comps.count|pluralize}}
                </div>
                <div class="table-responsive">
                    <table class="table table-borderless mb-0">
                        <thead class="bg-navy">
                            <tr>
                                <th>Asset ID</th>
                                <th>Nickname</th>
                                <th>Type</th>
                                <th>Logs Recorded</th>
                                <th>Location</th>
                                <th>Last modified</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for c in comps %}
                                <tr>
                                    <td>
                                        <a href="{% url 'com:computer' c.pk %}">{{c.id}}</a>
                                    </td>
                                    <td>{{ c.nickname }}</td>
                                    <td>{{ c.type }}</td>
                                    <td>{{c.logs.count }}</td>
                                    <td>
                                        Branch ID: {{ c.branch.id }} <br>
                                        <span class="text-muted">{{ c.branch.name }}</span>
                                    </td>
                                    <td>
                                        {{c.modified}} <br>
                                        <small class="text-muted">
                                            {{c.modified|naturaltime}}
                                        </small>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="10" class="text-center">
                                        <i>Nothing available at the moment</i>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}