{% extends 'apk/base.html' %}
{% load humanize %}
{% block diary_link_active %}active{% endblock %}
{% block page_header_title %}Diary Entries by <b>{{ officer.name }}</b>{% endblock page_header_title %}
{% block page_content %}
    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-navy">
                <div class="card-header">
                    {{ des.count }} Entries made
                </div>
                <div class="table-responsive">
                    <table class="table table-borderless mb-0">
                        <thead class="bg-navy">
                            <tr>
                                <th>#</th>
                                <th>Case ID</th>
                                <th>Date</th>
                                <th>Last Modified</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in des %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>
                                        <a href="{% url 'apk:case' d.docket.pk %}">{{d.docket.id}}</a> <br>
                                       <small> <a href="{% url 'apk:case' d.docket.pk %}"><small>{{d.docket.complainant}} vs {{d.docket.plaintiff }}</small></a></small>
                                    </td>
                                    <td>{{ d.created }} <br> <small class="text-muted"><b>{{d.created|naturaltime}}</b></small>
                                    <hr class="my-1">
                                    <span>Notes:</span> <br>
                                    <small class="text-muted">
                                        <span>{{d.notes|truncatechars:30}}</span>
                                    </small>
                                    </td>
                                    <td>{{d.modified }} <br> <small class="text-muted"><b>{{d.modified|naturaltime}}</b></small></td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="10" class="text-center">
                                        <i>Nothing available at the moment</i>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}