{% extends 'base.html' %}
{% load humanize %}
{% block home_link_active %}active{% endblock %}
{% block page_header_title %}Welcome, <b>{{officer.name}}</b>{% endblock page_header_title %}
{% block page_content %}
<div class="row">
    <div class="col-sm-12 col-lg-4">
      <!-- small box -->
      <div class="small-box bg-warning">
        <div class="inner">
          <h3>{{ cases }}</h3>

          <p>Case{{cases|pluralize }} Recorded</p>
        </div>
        <div class="icon">
          <i class="fa fa-gavel"></i>
        </div>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-sm-12 col-lg-4">
      <!-- small box -->
      <div class="small-box bg-success">
        <div class="inner">
          <h3>{{ closed }}</h3>

          <p>Closed case{{closed|pluralize}}</p>
        </div>
        <div class="icon">
          <i class="fa fa-chart-bar"></i>
        </div>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-sm-12 col-lg-4">
      <!-- small box -->
      <div class="small-box bg-danger">
        <div class="inner">
          <h3>{{ cold }}</h3>

          <p>Cold Case{{cold|pluralize}}</p>
        </div>
        <div class="icon">
          <i class="fas fa-info"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-12">
          <div class="card card-outline card-navy">
            <div class="card-header d-sm-block d-md-flex">
                <div>Case Stats</div>
            </div>
            <div class="card-body">
              <h4>By Crime</h4>
              <canvas id="by-crime" style="height: 300px; max-height: 300px !important; width: content-box;"></canvas>
             
            </div>
          </div>
      </div>
  </div>
{% endblock %}
{% block js %}
  <script>
    //-------------
        //- BAR CHART -
        //-------------
        var barChartCanvas = $('#by-crime').get(0).getContext('2d')
        barChartCanvas.canvas.height = 300;
        var barData = {
            
        labels  : {{ byc.labels|safe }},
        datasets: {{ byc.datasets|safe }}
        }
        var barChartData = jQuery.extend(true, {}, barData)
        // barChartData.datasets[0] = 

        var barChartOptions = {
            responsive              : true,
            maintainAspectRatio     : false,
            datasetFill             : false,
            scales: {
                xAxes: [{
                stacked: true,
                }],
                yAxes: [{
                stacked: true
                }]
            }
        }

        var barChart = new Chart(barChartCanvas, {
            type: 'bar', 
            data: barChartData,
            options: barChartOptions
        })

  </script>
{% endblock %}