{% extends 'base.html' %}
{% load humanize %}
{% block branches_link_active %}active{% endblock %}
{% block page_header_title %}Branch #{{br.id}} &mdash; {{br.name}}{% endblock page_header_title %}
{% block page_content %}
    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-navy">
                <div class="table-responsive">
                    <table class="table table-borderless mb-0">
                        <thead class="bg-navy">
                            <tr>
                                <th>Branch ID</th>
                                <th>Name</th>
                                <th>Created On</th>
                                <th>Last Modified</th>
                                <th>Asset Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% with br as b %}
                                <tr>
                                    <td>
                                        <a href="{% url 'com:branch_detail' b.pk %}">{{b.id}}</a>
                                    </td>
                                    <td>{{ b.name }}</td>
                                    <td>
                                        {{b.created}} <br>
                                        <small class="text-muted">{{ b.created|naturaltime }}</small>
                                    </td>
                                    <td>
                                        {{b.modified}}
                                    </td>
                                    <td>
                                        {{b.computers.count}}
                                    </td>
                                </tr>
                            {% endwith %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}