{% extends 'apk/base.html' %}
{% load humanize %}
{% block cases_link_active %}active{% endblock %}
{% block page_header_title %}Case <b>#{{ case.id }}</b>{% endblock page_header_title %}
{% block page_content %}
    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-navy">
                <div class="table-responsive">
                    <table class="table table-borderless mb-0">
                        <thead class="bg-navy">
                            <tr>
                                <th>Case ID</th>
                                <th>Crime</th>
                                <th>Complainant</th>
                                <th>Plaintiff</th>
                                <th>Recorded By</th>
                                <th>Last modified</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% with case as c %}
                                <tr>
                                    <td>
                                        <a href="{% url 'apk:case' c.pk %}">{{c.id}}</a>
                                    </td>
                                    <td>{{ c.crime }}</td>
                                    <td>{{ c.complainant }}</td>
                                    <td>{{c.plaintiff }}</td>
                                    <td>
                                        {{c.logged_by}}
                                    </td>
                                    <td>
                                        {{c.modified}} <br>
                                        <small class="text-muted">
                                            {{c.modified|naturaltime}}
                                        </small>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        Assigned to Court
                                    </td>
                                    <td colspan="4">
                                       <b> {{c.court}}</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        ({{c.investigators.count}}) Investigator{{c.investigators|pluralize}} Assigned
                                    </td>
                                    <td colspan="4">
                                       {% for o in c.investigators.all %}
                                        <b>{{ o.name }}</b> <br>
                                       {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Summary
                                    </td>
                                    <td colspan="6">
                                       <i> {{c.summary}}</i>
                                    </td>
                                </tr>
                            {% endwith %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card card-outline card-navy">
                <div class="card-header">
                   <a href="{% url 'apk:case_diary' case.pk %}" class="btn btn-xs btn-warning">
                       <i class="fas fa-plus"></i> Add Entry
                   </a> Diary Entries ({{case.diary_entries.count}})
                </div>
                <div class="table-responsive">
                    <table class="table table-borderless mb-0">
                        <thead class="bg-navy">
                            <tr>
                                <th>#</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Notes</th>
                                <th>Last Modified</th>
                                <th>Made By</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for de in case.diary_entries.all %}
                                <tr>
                                    <td>
                                        {{forloop.counter}}
                                    </td>
                                    <td>{{ de.created|date }} <br><span class="text-muted">{{de.created|timesince }} ago.</span></td>
                                    <td>{{ de.created|time }}</td>
                                    <td>{{de.notes }}</td>
                                    <td>
                                        {{de.modified}}
                                    </td>
                                    <td>
                                        {{de.logger|default:'-'}}
                                    </td>
                                </tr>
                              
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}