{% extends 'apk/base.html' %}
{% load humanize %}
{% block cases_link_active %}active{% endblock %}
{% block page_header_title %}Cases assigned to <b>{{ officer.name }}</b>{% endblock page_header_title %}
{% block page_content %}
    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-navy">
                <div class="card-header">
                    {{ cases.count }} Assigned Case{{cases.count|pluralize}}
                </div>
                <div class="table-responsive">
                    <table class="table table-borderless mb-0">
                        <thead class="bg-navy">
                            <tr>
                                <th>Case ID</th>
                                <th>Crime</th>
                                <th>Complainant</th>
                                <th>Plaintiff</th>
                                <th>Recorded By</th>
                                <th>Last modified</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for c in cases %}
                                <tr>
                                    <td>
                                        <a href="{% url 'apk:case' c.pk %}">{{c.id}}</a>
                                    </td>
                                    <td>{{ c.crime }}</td>
                                    <td>{{ c.complainant }}</td>
                                    <td>{{c.plaintiff }}</td>
                                    <td>
                                        {{c.logged_by}}
                                    </td>
                                    <td>
                                        {{c.modified}} <br>
                                        <small class="text-muted">
                                            {{c.modified|naturaltime}}
                                        </small>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="10" class="text-center">
                                        <i>Nothing available at the moment</i>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}