{% extends 'apk/base.html' %}
{% load humanize crispy_forms_filters %}
{% block cases_link_active %}active{% endblock %}
{% block page_header_title %}Diary Entry for Case <b>#{{ case.id }}</b>{% endblock page_header_title %}
{% block page_content %}
    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-navy">
                <div class="table-responsive">
                    <table class="table table-borderless mb-0">
                        <thead class="bg-navy">
                            <tr>
                                <th>Case ID</th>
                                <th>Crime</th>
                                <th>Complainant</th>
                                <th>Plaintiff</th>
                                <th>Recorded By</th>
                                <th>Last modified</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% with case as c %}
                                <tr>
                                    <td>
                                        <a href="{% url 'apk:case' c.pk %}">{{c.id}}</a>
                                    </td>
                                    <td>{{ c.crime }}</td>
                                    <td>{{ c.complainant }}</td>
                                    <td>{{c.plaintiff }}</td>
                                    <td>
                                        {{c.logged_by}}
                                    </td>
                                    <td>
                                        {{c.modified}} <br>
                                        <small class="text-muted">
                                            {{c.modified|naturaltime}}
                                        </small>
                                    </td>
                                </tr>
                            {% endwith %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card card-outline card-navy">
                <div class="card-header">
                   <i class="fas fa-plus"></i> Add Diary Entry
                </div>
                <div class="card-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}

                        <button class="btn btn-success">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}