{% extends 'apk/base.html' %}
{% load humanize %}
{% block home_link_active %}active{% endblock %}
{% block page_header_title %}Welcome, <b>{{officer.name}}</b>{% endblock page_header_title %}
{% block page_content %}
<div class="row">
    <div class="col-sm-12 col-lg-4">
      <!-- small box -->
      <div class="small-box bg-warning">
        <div class="inner">
          <h3>{{ cases }}</h3>

          <p>Case{{cases|pluralize }} Assigned</p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-sm-12 col-lg-4">
      <!-- small box -->
      <div class="small-box bg-success">
        <div class="inner">
          <h3>{{ closed }}</h3>

          <p>Closed case{{closed|pluralize}}</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-sm-12 col-lg-4">
      <!-- small box -->
      <div class="small-box bg-danger">
        <div class="inner">
          <h3>{{ cold }}</h3>

          <p>Cold Case{{cold|pluralize}}</p>
        </div>
        <div class="icon">
          <i class="ion ion-person-add"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-12">
          <div class="card card-outline card-navy">
            <div class="card-header d-sm-block d-md-flex">
                <div>Latest Cases</div>
                <div class="ml-md-auto">
                  <a href="{% url 'apk:cases' %}" class="btn btn-sm btn-primary">View All</a>
                </div>
            </div>
            <div class="table-responsive">
              <table class="table table-borderless mb-0">
                  <thead class="bg-navy">
                      <tr>
                          <th>Case ID</th>
                          <th>Crime</th>
                          <th>Complainant</th>
                          <th>Plaintiff</th>
                          <th>Recorded By</th>
                          <th>Last modified</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for c in latest %}
                          <tr>
                              <td>
                                  <a href="{% url 'apk:case' c.pk %}">{{c.id}}</a>
                              </td>
                              <td>{{ c.crime }}</td>
                              <td>{{ c.complainant }}</td>
                              <td>{{c.plaintiff }}</td>
                              <td>
                                  {{c.logged_by}}
                              </td>
                              <td>
                                  {{c.modified}} <br>
                                  <small class="text-muted">
                                      {{c.modified|naturaltime}}
                                  </small>
                              </td>
                          </tr>
                      {% empty %}
                          <tr>
                              <td colspan="10" class="text-center">
                                  <i>Nothing available at the moment</i>
                              </td>
                          </tr>
                      {% endfor %}
                  </tbody>
              </table>
          </div>
          </div>
      </div>
  </div>
{% endblock %}